<!-- Modal -->
<div>
    <link rel="stylesheet" href="/styles.css">
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->
    @for (item of contact; track $index) {
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">{{item.h1}}</h1>
            <p>
                {{item.p}}
            </p>
        </div>
    </div>
}

    <!-- Start Contact -->
     @for (item of form; track $index) {
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">{{item.Name}}</label>
                        <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">{{item.Email}}</label>
                        <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputsubject">{{item.Subject}}</label>
                    <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <label for="inputmessage">{{item.Message}}</label>
                    <textarea class="form-control mt-1" id="message" name="message" placeholder="Message"
                        rows="8"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">{{item.Talk}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div class="container py-5">
        @for (item of contact; track $index) {
        <div class="row">
            <div>
                <h1 class="font">{{item.h1}}</h1><br>
                <div class="mb-3">
                    <h3 class="font">{{item.h3}}</h3><br>
                    <p class="font">{{item.p}}</p>
                </div>
            </div>
        </div><br>
    }
    @for (item of contact2; track $index) {
        <div>
            <h1 class="font">{{item.h1}}</h1><br>
            <div class="mb-5">
                <div></div>
                <p>{{item.p}}</p>
                <p>{{item.p2}}</p>
                <p>{{item.p3}}</p>
                <p>{{item.p4}}</p><br>
                <a href="#" class="number">{{item.a}}</a>
            </div>
        </div><br>
    }
        @for (item of Card; track $index) {
        <div>
            <div class="customer-service">
                <div class="customer-service h2">{{item.h2}}</div>
                <p class="customer-service p">{{item.p}}</p>
                <div class="form-container"><button class="form-submit-btn" type="submit">{{item.div}}</button></div>
            </div>
        </div><br>
    }

    @for ( item of contact4; track $index) {
        <div><br>
            <h1 class="font">{{item.h1}}</h1><br>
            <div class="mb-5">
                <h3 class="font">{{item.h3}}</h3><br>
                <p>{{item.p}}</p>
                <p>{{item.p2}}</p>
                <p>{{item.p3}}</p>
                <p>{{item.p4}}</p>
            </div>
            <button class="cta"><span class="hover-underline-animation">{{item.button1}}</span></button><br>
            <button class="cta"><span class="hover-underline-animation">{{item.button2}}</span></button><br>
        </div><br>
    }
        <div class="container py-5">
            <div class="row py-5">
                <div class="row">
                    @for (item of button1; track $index) {
                    <h1 class="font">{{item.h1}}</h1>
                    <div class="form-group col-md-6 mb-3">
                        <button class="cta"><span class="hover-underline-animation">{{item.b1}}</span></button><br>
                        <button class="cta"><span class="hover-underline-animation">{{item.b2}}</span></button><br>
                        <button class="cta"><span
                                class="hover-underline-animation">{{item.b3}}</span></button><br>
                    </div>
                }
                @for (item of button2; track $index) {
                    <div class="form-group col-md-6 mb-3">
                         <button class="cta"><span class="hover-underline-animation">{{item.b1}}</span></button><br>
                        <button class="cta"><span class="hover-underline-animation">{{item.b2}}</span></button><br>
                        <button class="cta"><span
                                class="hover-underline-animation">{{item.b3}}</span></button><br>
                    </div>
                }
                </div>


            </div>
        </div>


    </div>



    <!-- End Contact -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
            @for (item of Adidas_Shop; track $index) {

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">{{item.h2}}</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">{{item.li1}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li2}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li3}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li5}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li6}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li7}}</a></li>
                </ul>
            </div>
            
        }
        </div>

    @for (item of icon; track $index) {
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">{{item.label}}</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                        placeholder="Email address">
                    <div class="input-group-text btn-success text-light">{{item.div}}</div>
                </div>
            </div>
        </div>
    }
</div>

<div class="w-100 bg-dark py-3">
    <div class="container">
        <div class="row pt-2">
            <div class="col-12">
                <p class="text-left text-light">
                    Copyright &copy; 2021 Company Name
                    | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                </p>
            </div>
        </div>
    </div>
</div>

    </footer>
    <!-- End Footer -->