<!-- @defer(on timer(2000ms)){
  <p>Data Load</p>
}@placeholder {
  <div class="d-flex justify-content-center align-items-center w-100 vh-100">
    <img src="asset/assets/img/03-19-26-213_512.gif" alt="Loading..." class="loading-spinner">
  </div>
} -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
<div class="carousel-inner">
    @for (item of Card; let i = $index; track $index) {
        <div class="carousel-item{{i === 0 ? ' active' : ''}}">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid"
                            src="{{item.Image}}"
                            alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Adidas</b> eCommerce</h1>
                            <h3 class="h2">Animal Print Clothes & Shoes</h3>
                            <p>
                                <span>
                                    {{item.p}}
                                </span> <a rel="sponsored" class="text-success"
                                    href="https://templatemo.com" target="_blank">TemplateMo</a> website.
                                Image credits go to <a rel="sponsored" class="text-success"
                                    href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                <a rel="sponsored" class="text-success" href="https://unsplash.com/"
                                    target="_blank">Unsplash</a> and
                                <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons
                                    8</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->

 <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row">
            @for (item of second_card; track $index) {
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{{item.Image}}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Watches</h5>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
        }
        </div>
    </section>

<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        @for (item of text; track $index) {
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">{{item.h1}}</h1>
                <p>
                   {{item.p}}
                </p>
            </div>
        </div>
    }
    @for ( item of four_card; track $index) {
        <div class="row">
            <div class="col-12 col-md-3 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{{item.Image}}" class="card-img-top"
                            with="50px">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">{{item.li}}</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">{{item.a}}</a>
                        <p class="card-text">
                            {{item.p1}}
                        </p>
                        <p class="text-muted">{{item.p2}}</p>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</section>
<!-- End Featured Product -->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        @for (item of Adidas_Shop; track $index) {
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">{{item.h2}}</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">{{item.li1}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li2}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li3}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li5}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li6}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{item.li7}}</a></li>
                </ul>
            </div>
            
        </div>
    }

    @for (item of icon; track $index) {
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">{{item.label}}</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                        placeholder="Email address">
                    <div class="input-group-text btn-success text-light">{{item.div}}</div>
                </div>
            </div>
        </div>
    }
</div>

<div class="w-100 bg-dark py-3">
    <div class="container">
        <div class="row pt-2">
            <div class="col-12">
                <p class="text-left text-light">
                    Copyright &copy; 2021 Company Name
                    | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                </p>
            </div>
        </div>
    </div>
</div>

</footer>
<!-- End Footer -->